// Sakura makes use of these variables.
$color-blossom: #345
$color-fade: #3d9
$color-bg: #f9f9f9
$color-bg-alt: #f1f1f1
$color-text: #444
$font-size-base: 1.8rem
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif
$font-family-heading: $font-family-base

@import "sakura.css/scss/main"

// These are additional variables that aren't used by Sakura.
$color-bg-dark: $color-blossom
$color-text-dark: #ddd
