@use "normalize.css/normalize"

// Import some fonts.
// Roboto (regular and regular italic), and Roboto Mono (regular):
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Roboto+Mono&display=swap')

// Set up Sakura. (These variables are all used to theme Sakura.)
$color-blossom: #345
$color-fade: #3d9
$color-bg: #f9f9f9
$color-bg-alt: #f1f1f1
$color-text: #444
$font-size-base: 1.8rem
$font-family-base: Roboto, sans-serif
$font-family-heading: $font-family-base
@import sakura.css/scss/main

// These are additional variables that aren't used by Sakura.

/** Colors for dark mode: */
$color-bg-dark: $color-blossom
$color-text-dark: #ddd

/** A neutral color for adding some more contrast without drawing attention: */
$color-fg-neutral: #ccc

/** A color for error messages: */
$color-warn: firebrick

/** A monospace font */
$font-family-monospace: 'Roboto Mono', monospace

// I could do with a bit of a border around unselected inputs; they're too
// low-contrast right now.
input[type]
  border: thin solid $color-fg-neutral

/**
 * Throughout this app, we're going to use buttons with one character of text
 * in them as icon buttons. Here's a set of consistent styles to use for those
 * elements.
 */
@mixin icon-button
  padding: 0 0.2em
  border-radius: 0.2em
  font-size: 24pt
  font-weight: bold
  // Let's define the behavior of the button.
  &
    border: 0.1em solid transparent
    color: $color-fade
    background-color: transparent
  &:focus:enabled
    // Give a border on focus.
    border: 0.1em solid $color-fg-neutral
    color: $color-fade
    background-color: transparent
  &:hover:enabled, &:active:enabled
    // Invert colors on hover and click.
    border: 0.1em solid transparent
    color: $color-bg
    background-color: $color-fade

